<!-- Navbar start -->
<nav class="navbar navbar-expand bg-black border-bot">
    <div class="container-fluid text-light">
        <a class="logo nav-item" href="{{path('home')}}">Crypto Tracker</a>
        <ul class="navbar-nav navbar-home">
           <a class="nav-item" href={{path('remove-transaction')}}> <i class="fa fa-pen"></i></a>
            <a class="nav-item" href={{path('add-transaction')}}> <i class="fas fa-plus"></i></a>
           <a class="nav-item"href=""> <i class="fas fa-sign-out-alt"></i></a>
        </ul>
    </div>
</nav>