{% extends 'base.html.twig' %}

{% block title %}Erreur 403{% endblock %}

{% block body %}

    <div class="containerError">
        <h2>Hop hop hop !</h2>
        <h1>403</h1>
        <p class="m-0">Accès interdit</p>
        <a href="{{ path('home') }}" class="h5 text-muted"><p>Retour</p></a>
    </div>

{% endblock %}
